{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center card-bg">
          <h1 class="card-title">{% trans "Sign In" %}</h1>
        </div>
        <div class="card-body">
          <p>{% blocktrans %}To leave a comment, create or like a post, please log in. 
            If you have not created an account yet, then please <a href="{{ signup_url }}"><strong>sign up</strong>
            </a> first.{% endblocktrans %}</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}