{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      {% if user.is_authenticated %}
      <div class="col-md-6 masthead-text">
        <h1 class="recipe-title">{{ recipe.title }}</h1>
        <p class="recipe-subtitle">
          Author: {{ recipe.author|upper }} <br />
          {{ recipe.created_on }}
        </p>
      </div>
      <div class="recipe_edit col-md-6" id="recipe{{ recipe.id }}">
        <div class="d-md-block col-md-6 masthead-image">
          <img src="{{ recipe.featured_image.url }}" class="scale img-fluid" alt="placeholder" />
        </div>
        <button class="recipe-btn-edit" data-recipe-id="{{ recipe.id }}">
          Edit
        </button>
        <button class="recipe-btn-delete" data-recipe-id="{{ recipe.id }}">
          Delete
        </button>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">
          <h3>Ingredients:</h3>
          <p class="card-text">{{ recipe.ingredients | safe }}</p>
        </div>
        <div class="card-body">
          <h3>Instructions:</h3>
          <p class="card-text">{{ recipe.instructions | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        {% for comment in comments %}
        <div class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">{{ comment.created_on }}</span>
            wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">This comment is awaiting approval</p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <div class="comment" id="comment{{ comment.id }}">
            <p>{{ comment.body }}</p>
            <button class="btn-edit" data-comment-id="{{ comment.id }}">
              Edit
            </button>
            <button class="btn-delete" data-comment-id="{{ comment.id }}">
              Delete
            </button>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Commenting as: {{ user.username }}</p>
        <form id="commentForm" method="post" style="margin-top: 1.3em">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
            Submit
          </button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade modal-auto-clear" data-timer="2000" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="deleteConfirm" class="btn btn-danger" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>

{% block extras %}
<script src="{% static 'js/recipe.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
{% endblock content %}
